@model IEnumerable<Fifa_school.Models.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<p> Session value @Session["index"]</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Branch.Branch_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher_FatherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dateofjoin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Branch.Branch_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Teacher_FatherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dateofjoin)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Teacher_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Teacher_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Teacher_id })
        </td>
    </tr>
}

</table>
